.bg-img {
  background: url("../../asset/images/home-banner.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 92vh;
}
.heading-banner {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 71px;
  color: #ffffff;
}
.custom-banner {
  height: 85vh;
}
.knowmore-btn {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 27px;
  background: #0C4DA2;
  width: 15%;
}
.sec-section-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    color: #171A50;
}
.text-center {
    text-align: center !important;
}
.category-img {
  padding-bottom: 2rem;
}
.hovv {
  height: 236.84px;
  object-fit: cover;
  object-position: top;
}
.img-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #003262;
  position: absolute;
  left: 3.5rem;
  bottom: 5rem;
  pointer-events: none;
}
.img-desc {
  display: none;
  pointer-events: none;
}
.sec-section-text {
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.phovv{
  position: relative;
}