.ftr-bg {
    padding: 2%;
    border-top: 2px solid #2a6ebb;
    clear: both;
    background: #003262;
}
.row.footRow {
    display: block;
    overflow: hidden;
}
.divRgt {
    float: right;
}
.social-icons {
    text-align: right;
}
.list-unstyled1 {
    padding-left: 0;
    list-style: none;
}
.nav-bar1 {
    list-style: none;
    flex-direction: row;
    display: flex;
}
.nav-link1 {
    font-family: "Calibri";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF !important;
    margin-right: 1rem!important;
    text-decoration: none;
}
.copyright {
    padding-top: 20px;
    width: 100%;
}
.text-muted {
    color: #6c757d !important;
}
.text-footer {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.poweredby-txt{
    color: #FFFFFF;
}
.footers-logo {
    text-align: right;
}